<!--ABOUT-->
<section id="about" class="main-about-page">
  <div class="about-page-content-holder">
    <div class="main-about-image-holder col-md-6 col-sm-12">
      <img src="../../../assets/images/Optimized-edwina-profile-image.jpg">
    </div>
    <div class="main-about-text-holder col-md-6 col-sm-12">
      <h3 class="text-center">About Me</h3>
      <p>Edwina has over 35 years national and international experience in health and social care services, across the
        public and private sector. She is driven by her passion to enable people to deliver quality services. Edwina has
        considerable deep experience, knowledge, commitment and reputation as a practitioner, educationalist and manager
        across corporate, clinical and social services. Edwina has worked in large and small organisations, HSE, NHS,
        Canadian Hospitals and nursing homes
        Edwina was the first head of Quality and Risk in the HSE and subsequently went on to develop and manage the
        national Healthcare audit service similar to (Internal audit) for clinical and social services. Based on the
        acknowledged creditability of this experience people have the confidence and trust to engage with Edwina. In
        this, she encourages staff to think creatively and question ways of working and learning.
        She has an ability to identify where policy and procedure can be improved, engaging with staff at all levels to
        understand what standards and regulations mean in practice, to implement the changes and provide evidence of
        implementation.
        Uniquely, Edwina is prepared to get involved and Implement the changes necessary with the people on the ground,
        to build capability and the confidence in people to continue the changes and ways of working when her
        intervention is completed.
        <br>
      </p>
    </div>

  </div>
</section>


<section id="about-testimonials" class="grey-bg">
  <div class="about-page-testimonials-box">
    <h1>Testimonials</h1>

    <!--Testimonial 1-->
    <div>
    <p>“Edwina’s expertise in the areas of Healthcare audit and quality assurance are unique and will be sorely missed within the Public Service”</p>
    <h3>Tony O Brien<br> </h3>
      <h4>Director General <br>
        HSE, D.G. Ref: 425015</h4>

      <img class="about-logo-testimonials" src="../../../assets/images/Health_Service_Executive_logo.svg.png">
    </div>

    <!--Testimonial 2-->
    <div>
      <p>“Edwina’s professionalism, dedication and helpful approach was evident to the members of the Risk Committee and demonstrated a true spirt of service and a desire to achieve excellence in service provision”</p>
      <h3>Tom Beegan<br> </h3>
       <h4>Chairman<br>
        HSE  Risk Committee</h4>
      <img class="about-logo-testimonials" src="../../../assets/images/Health_Service_Executive_logo.svg.png">
    </div>
  </div>
</section>
