<!--Main Page Structure-->
<div class="not-found-background-image col-lg-12 col-md-12 col-sm-12">
  <img class="bg-404-image" src="../../../assets/images/bg-404.jpg">
  <div class="jumbotron page-not-found-jumbo">
    <div class="container">
      <div class="row">
        <div class="not-found-text-holder col-sm-12">
          <h1 class="not-found-title">We can't seem to find the page you're looking for.</h1>
          <p class="not-found-text">The page you have requested is unavailable or does not exist.</p>
        </div>
        <div class="col-sm-12 not-found-button-holder">
          <a class="btn btn-lg green-button" href="#" role="button">Go to Home
            Page</a>
        </div>
      </div>
    </div>

  </div>


</div>


