<!--&lt;!&ndash;Main Site Image&ndash;&gt;-->
<!--<div class="main-jumbotron">-->
  <!--<div class="jumbotron-fluid">-->
    <!--<img class="home-jumbo-image"-->
         <!--src="../../../assets/images/coffee-green-cup-notebook-wood-table-pen-plant-freephotoscc.jpg">-->
  <!--</div>-->
<!--</div>-->


<!--&lt;!&ndash;About Me Section&ndash;&gt;-->
<!--<div class="about-me-section">-->
  <!--<div class="about-me-holder row col-md-12">-->
    <!--<div class="row"></div>-->
    <!--<h3 class="about-me-title">About Me</h3>-->
    <!--<div>-->

      <!--<img class="about-me-profile-image col-md-6" src="../../../assets/images/Optimized-edwina-profile-image.jpg">-->

      <!--<div class="about-me-text">-->
        <!--<p>-->

        <!--</p>-->
      <!--</div>-->


    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;CONTENT WRAP&ndash;&gt;-->
<!--<div class="content-wrap">-->
  <!--&lt;!&ndash;CONTENT&ndash;&gt;-->
  <!--<div class="content">-->
    <!--HOME-->
    <section id="home">
      <div class="container">
        <div class="row">
          <div class="wrap-hero-content">
            <div class="hero-content">
              <h1>Dr. Edwina Dunne, DBA</h1>
              <h3>Empowering Consultant</h3>
              <br>
              <span class="typed"></span>
            </div>
          </div>
          <div class="mouse-icon margin-20">
            <div class="scroll"></div>
          </div>
        </div>
      </div>
    </section>
    <!--/.HOME END-->

    <!--ABOUT-->
    <section id="about">
      <div class="col-md-6 col-xs-12 no-pad">
        <div class="bg-about"></div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 white-col">
        <div class="row">
          <!--OWL CAROUSEL2-->
          <div class="owl-carousel2">
            <div class="col-md-12">
              <div class="wrap-about">
                <div class="w-content">
                  <h1>About Me</h1>
                  <p class="head-about">
                    Edwina has over 35 years national and international experience in health and social care
                    services, across the public and private sectors. Edwina is driven by her passion to enable people to
                    deliver quality services. Edwina has considerable deep experience, knowledge,
                    commitment and reputation as a practitioner, educationalist and manager across corporate,
                    clinical and social services. She has worked in large and small organisations, HSE, NHS,
                    Canadian Hospitals and nursing homes.
                  </p>

                  <h5 class="name">
                    Dr. Edwina Dunne, DBA
                  </h5>
                  <img alt="signature" src="../../../assets/theme-images/signature.png">
                </div>
              </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 white-col">
              <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
                  <div class="wrap-about">
                    <table class="w-content">
                      <tr>
                        <td class="title">Name </td>
                        <td class="break">:</td>
                        <td>Dr. Edwina Dunne, DBA</td>
                      </tr>
                      <tr>
                        <td class="title">Phone </td>
                        <td class="break">:</td>
                        <td> +62 8678 999 012</td>
                      </tr>
                      <tr>
                        <td class="title">Email </td>
                        <td class="break">:</td>
                        <td>contact@edwinadunne.com</td>
                      </tr>
                      <!--<tr>-->
                        <!--<td class="title">Address </td>-->
                        <!--<td class="break">:</td>-->
                        <!--<td> Cipamokolan street 102 , Bandung, Indonesia</td>-->
                      <!--</tr>-->
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--/.OWL CAROUSEL2 END-->
        </div>
      </div>
    </section>
    <!--/.ABOUT END-->



<!--&lt;!&ndash;WORK&ndash;&gt;-->
<!--<section class="grey-bg mar-tm-10" id="work">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-3">-->
        <!--<h3 class="title-small">-->
          <!--<span>Work</span>-->
        <!--</h3>-->
        <!--<p class="content-detail">-->
          <!--Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. <br><br>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros.-->
        <!--</p>-->
      <!--</div>-->
      <!--<div class="col-md-9 content-right">-->
        <!--&lt;!&ndash;PORTFOLIO IMAGE&ndash;&gt;-->
        <!--<ul class="portfolio-image">-->
          <!--<li class="col-md-6">-->
            <!--<a href="images/bw-1.png"><img alt="image" src="../../../assets/theme-images/bw-1.png">-->
              <!--<div class="decription-wrap">-->
                <!--<div class="image-bg">-->
                  <!--<p class="desc">My Resume</p>-->
                <!--</div>-->

              <!--</div>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="col-md-6">-->
            <!--<a href="images/bw-2.png"><img alt="image" src="../../../assets/theme-images/bw-2.png">-->
              <!--<div class="decription-wrap">-->
                <!--<div class="image-bg">-->
                  <!--<p class="desc">-->
                    <!--Pangirutan-->
                  <!--</p>-->
                <!--</div>-->
              <!--</div>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="col-md-6">-->
            <!--<a href="images/bw-3.png"><img alt="image" src="../../../assets/theme-images/bw-3.png">-->
              <!--<div class="decription-wrap">-->
                <!--<div class="image-bg">-->
                  <!--<p class="desc">-->
                    <!--Black Mug-->
                  <!--</p>-->
                <!--</div>-->
              <!--</div>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="col-md-6">-->
            <!--<a href="images/bw-4.png"><img alt="image" src="../../../assets/theme-images/bw-4.png">-->
              <!--<div class="decription-wrap">-->
                <!--<div class="image-bg">-->
                  <!--<p class="desc">-->
                    <!--Notebook Mockup-->
                  <!--</p>-->
                <!--</div>-->
              <!--</div>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="col-md-6">-->
            <!--<a href="images/bw-5.png"><img alt="image" src="../../../assets/theme-images/bw-5.png">-->
              <!--<div class="decription-wrap">-->
                <!--<div class="image-bg">-->
                  <!--<p class="desc">-->
                    <!--Presentation-->
                  <!--</p>-->
                <!--</div>-->
              <!--</div>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="col-md-6">-->
            <!--<a href="images/bw-6.png"><img alt="image" src="../../../assets/theme-images/bw-6.png">-->
              <!--<div class="decription-wrap">-->
                <!--<div class="image-bg">-->
                  <!--<p class="desc">-->
                    <!--Letter Branding-->
                  <!--</p>-->
                <!--</div>-->
              <!--</div>-->
            <!--</a>-->
          <!--</li>-->
        <!--</ul>-->
        <!--&lt;!&ndash;/.PORTFOLIO IMAGE END&ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
<!--&lt;!&ndash;/.WORK END&ndash;&gt;-->

<!--SERVICES-->
<section class="grey-bg" id="services">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3 class="title-small">
          <span>Services</span>
        </h3>
        <p class="content-detail">
          Key Specific areas you may require assistance with:
        </p>
      </div>
      <div class="col-md-9 content-right">
        <div class="row">
          <ul class="listing-item">
            <li>
              <div class="col-md-4 col-sm-4">
                <h3 class="icon-use">
                  c
                </h3>
                <p class="head-sm">
                  Seeking Registration
                </p>
                <p class="text-grey">
                  Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.
                </p>
              </div>
            </li>

            <li>
              <div class="col-md-4 col-sm-4">
                <h3 class="icon-use">
                  b
                </h3>
                <p class="head-sm">
                  Re-registration
                </p>
                <p class="text-grey">
                  Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.
                </p>
              </div>
            </li>

            <li>
              <div class="col-md-4 col-sm-4">
                <h3 class="icon-use">
                  d
                </h3>
                <p class="head-sm">
                  Seeking JCI for your organisation
                </p>
                <p class="text-grey">
                  Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.
                </p>
              </div>
            </li>
          </ul>

          <ul class="listing-item">
            <li>
              <div class="col-md-4 col-sm-4">
                <p class="icon-use">
                  f
                </p>
                <p class="head-sm">
                  Assurance reports
                </p>
                <p class="text-grey">
                  Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.
                </p>
              </div>
            </li>

            <li>
              <div class="col-md-4 col-sm-4">
                <h3 class="icon-use">
                  p
                </h3>
                <p class="head-sm">
                  Implementing Standards and Policies
                </p>
                <p class="text-grey">
                  Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.
                </p>
              </div>
            </li>

            <li>
              <div class="col-md-4 col-sm-4">
                <h3 class="icon-use">
                  m
                </h3>
                <p class="head-sm">
                  Enabling good practice
                </p>
                <p class="text-grey">
                  Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.
                </p>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</section>
<!--/.SERVICES END-->

<!--EMPLOYEMENT-->
<!--<section class="grey-bg" id="employement">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-3">-->
        <!--<h3 class="title-small">-->
          <!--<span>How I can help</span>-->
        <!--</h3>-->
        <!--<p class="content-detail">-->
          <!--Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.-->
        <!--</p>-->
      <!--</div>-->
      <!--<div class="col-md-9 content-right">-->
        <!--<div class="row">-->
          <!--<ul class="listing-item">-->
            <!--<li>-->
              <!--<div class="col-md-6 col-sm-6">-->
                <!--<div class="wrap-card">-->
                  <!--<div class="card">-->
                    <!--<h2 class="year">-->
                      <!--Corporate and Clinical Governance-->
                    <!--</h2>-->
                    <!--<p class="job">-->
                      <!--web designer-->
                    <!--</p>-->
                    <!--<p class="company">-->
                      <!--Corp Project-->
                    <!--</p>-->
                    <!--<hr>-->
                    <!--<div class="text-detail">-->
                      <!--<p>-->
                        <!-- - Working with management to clarify the governance framework defining the team and individual assurance responsibilities within an assurance framework<br>-->

                        <!-- - Clarifying the accountability framework for  accountabilities,  authority, responsibilities and performance management<br>-->
                        <!-- - Support the implementation of integrated Governance (corporate and clinical),-->
                        <!--Assisting management to have the policies and procedures in place to ensure quality and safety of residents and staff.-->
                        <!--Assisting management to develop processes to  be assured that the quality and safety policies and procedures are implemented and effective-->
                        <!--Undertaking external audits to achieve Yearly Quality Review Reports-->
                        <!--Providing  external independent assurance through audits and inspection to provide assurance  reports on the  status of compliance for  management as required by regulators and prior to registration inspections surveys,-->
                        <!--Identifying  Organisational Power and Politics that promote or inhibit change, based on profound knowledge of the organisational dynamics-->
                      <!--</p>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</li>-->

            <!--<li>-->
              <!--<div class="col-md-6 col-sm-6">-->
                <!--<div class="wrap-card">-->
                  <!--<div class="card">-->
                    <!--<h2 class="year">-->
                      <!--2009 - 2010-->
                    <!--</h2>-->
                    <!--<p class="job">-->
                      <!--web designer-->
                    <!--</p>-->
                    <!--<p class="company">-->
                      <!--Google inc-->
                    <!--</p>-->
                    <!--<hr>-->
                    <!--<div class="text-detail">-->
                      <!--<p>-->
                        <!--Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes.-->
                      <!--</p>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</li>-->
          <!--</ul>-->
          <!--<ul class="listing-item">-->
            <!--<li>-->
              <!--<div class="col-md-6 col-sm-6">-->
                <!--<div class="wrap-card">-->
                  <!--<div class="card">-->
                    <!--<h2 class="year">-->
                      <!--2010 - 2014-->
                    <!--</h2>-->
                    <!--<p class="job">-->
                      <!--crative director-->
                    <!--</p>-->
                    <!--<p class="company">-->
                      <!--41 studio-->
                    <!--</p>-->
                    <!--<hr>-->
                    <!--<div class="text-detail">-->
                      <!--<p>-->
                        <!--Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes.-->
                      <!--</p>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</li>-->

            <!--<li>-->
              <!--<div class="col-md-6 col-sm-6">-->
                <!--<div class="wrap-card">-->
                  <!--<div class="card">-->
                    <!--<h2 class="year">-->
                      <!--2014 - NOW-->
                    <!--</h2>-->
                    <!--<p class="job">-->
                      <!--fullstack designer-->
                    <!--</p>-->
                    <!--<p class="company">-->
                      <!--Freelance-->
                    <!--</p>-->
                    <!--<hr>-->
                    <!--<div class="text-detail">-->
                      <!--<p>-->
                        <!--Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes.-->
                      <!--</p>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</li>-->
          <!--</ul>-->

        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->

    <!-- Section: services -->
    <section id="service" class="home-section color-dark white-bg">
      <div class="container marginbot-50">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div>
              <div class="section-heading text-center">
                <h2 class="h-bold">What we can do for you</h2>
                <div class="divider-header"></div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="text-center">
        <div class="container">

          <div class="row animatedParent">
            <div class="col-md-4 service-box-holder">
              <div class="animated rotateInDownLeft">
                <div class="service-box">
                  <div class="service-icon">
                    <span class="fa fa-laptop fa-2x"></span>
                  </div>
                  <div class="service-desc">
                    <h5>Web Design</h5>
                    <div class="divider-header"></div>
                    <p>
                      Ad denique euripidis signiferumque vim, iusto admodum quo cu. No tritani neglegentur mediocritatem duo.
                    </p>
                    <a href="#" class="btn btn-skin">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 service-box-holder">
              <div class="animated rotateInDownLeft slow">
                <div class="service-box">
                  <div class="service-icon">
                    <span class="fa fa-camera fa-2x"></span>
                  </div>
                  <div class="service-desc">
                    <h5>Photography</h5>
                    <div class="divider-header"></div>
                    <p>
                      Ad denique euripidis signiferumque vim, iusto admodum quo cu. No tritani neglegentur mediocritatem duo.
                    </p>
                    <a href="#" class="btn btn-skin">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 service-box-holder">
              <div class="animated rotateInDownLeft slower">
                <div class="service-box">
                  <div class="service-icon">
                    <span class="fa fa-code fa-2x"></span>
                  </div>
                  <div class="service-desc">
                    <h5>Graphic design</h5>
                    <div class="divider-header"></div>
                    <p>
                      Ad denique euripidis signiferumque vim, iusto admodum quo cu. No tritani neglegentur mediocritatem duo.
                    </p>
                    <a href="#" class="btn btn-skin">Learn more</a>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-md-4 service-box-holder">
              <div class="animated rotateInDownLeft">
                <div class="service-box">
                  <div class="service-icon">
                    <span class="fa fa-laptop fa-2x"></span>
                  </div>
                  <div class="service-desc">
                    <h5>Web Design</h5>
                    <div class="divider-header"></div>
                    <p>
                      Ad denique euripidis signiferumque vim, iusto admodum quo cu. No tritani neglegentur mediocritatem duo.
                    </p>
                    <a href="#" class="btn btn-skin">Learn more</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 service-box-holder">
              <div class="animated rotateInDownLeft">
                <div class="service-box">
                  <div class="service-icon">
                    <span class="fa fa-laptop fa-2x"></span>
                  </div>
                  <div class="service-desc">
                    <h5>Web Design</h5>
                    <div class="divider-header"></div>
                    <p>
                      Ad denique euripidis signiferumque vim, iusto admodum quo cu. No tritani neglegentur mediocritatem duo.
                    </p>
                    <a href="#" class="btn btn-skin">Learn more</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- /Section: services -->
<!--/.EMPLOYEMENT END-->

<!--&lt;!&ndash;SKILLS&ndash;&gt;-->
<!--<section class="white-bg" id="skill">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-3">-->
        <!--<h3 class="title-small">-->
          <!--<span>Skills</span>-->
        <!--</h3>-->
        <!--<p class="content-detail">-->
          <!--Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.-->
        <!--</p>-->
      <!--</div>-->
      <!--<div class="col-md-9 content-right">-->
        <!--&lt;!&ndash;SKILLST&ndash;&gt;-->
        <!--<div class="skillst">-->
          <!--<div class="skillbar" data-percent="78%">-->
            <!--<div class="title head-sm">-->
              <!--HTML 5-->
            <!--</div>-->
            <!--<div class="count-bar">-->
              <!--<div class="count"></div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="skillbar" data-percent="91%">-->
            <!--<div class="title head-sm">-->
              <!--CSS 4-->
            <!--</div>-->
            <!--<div class="count-bar">-->
              <!--<div class="count"></div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="skillbar" data-percent="58%">-->
            <!--<div class="title head-sm">-->
              <!--jQuery-->
            <!--</div>-->
            <!--<div class="count-bar">-->
              <!--<div class="count"></div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="skillbar" data-percent="63%">-->
            <!--<div class="title head-sm">-->
              <!--PHP-->
            <!--</div>-->
            <!--<div class="count-bar">-->
              <!--<div class="count"></div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="skillbar" data-percent="95%">-->
            <!--<div class="title head-sm">-->
              <!--Photoshop-->
            <!--</div>-->
            <!--<div class="count-bar">-->
              <!--<div class="count"></div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;/.SKILLST END&ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
<!--&lt;!&ndash;/.SKILLS END&ndash;&gt;-->

<!--&lt;!&ndash;EDUCATION&ndash;&gt;-->
<!--<section class="grey-bg" id="education">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-3">-->
        <!--<h3 class="title-small">-->
          <!--<span>Education</span>-->
        <!--</h3>-->
        <!--<p class="content-detail">-->
          <!--Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.-->
        <!--</p>-->
      <!--</div>-->
      <!--<div class="col-md-9 content-right">-->
        <!--<div class="row">-->
          <!--<ul class="listing-item">-->
            <!--<li>-->
              <!--<div class="col-md-6 col-sm-6">-->
                <!--<div class="wrap-card">-->
                  <!--<div class="card">-->
                    <!--<h2 class="year">-->
                      <!--2002 - 2005-->
                    <!--</h2>-->
                    <!--<p class="job">-->
                      <!--Information System-->
                    <!--</p>-->
                    <!--<p class="company">-->
                      <!--Telkom University-->
                    <!--</p>-->
                    <!--<hr>-->
                    <!--<div class="text-detail">-->
                      <!--<p>-->
                        <!--Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes.-->
                      <!--</p>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</li>-->

            <!--<li>-->
              <!--<div class="col-md-6 col-sm-6">-->
                <!--<div class="wrap-card">-->
                  <!--<div class="card">-->
                    <!--<h2 class="year">-->
                      <!--2005 - 2007-->
                    <!--</h2>-->
                    <!--<p class="job">-->
                      <!--DKV-->
                    <!--</p>-->
                    <!--<p class="company">-->
                      <!--UNIKOM-->
                    <!--</p>-->
                    <!--<hr>-->
                    <!--<div class="text-detail">-->
                      <!--<p>-->
                        <!--Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes.-->
                      <!--</p>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</li>-->
          <!--</ul>-->
          <!--<ul class="listing-item">-->
            <!--<li>-->
              <!--<div class="col-md-6 col-sm-6">-->
                <!--<div class="wrap-card">-->
                  <!--<div class="card">-->
                    <!--<h2 class="year">-->
                      <!--2007 - 2009-->
                    <!--</h2>-->
                    <!--<p class="job">-->
                      <!--Magister DKV-->
                    <!--</p>-->
                    <!--<p class="company">-->
                      <!--ITB-->
                    <!--</p>-->
                    <!--<hr>-->
                    <!--<div class="text-detail">-->
                      <!--<p>-->
                        <!--Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes.-->
                      <!--</p>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</li>-->

            <!--<li>-->
              <!--<div class="col-md-6 col-sm-6">-->
                <!--<div class="wrap-card">-->
                  <!--<div class="card">-->
                    <!--<h2 class="year">-->
                      <!--2009 - 2010-->
                    <!--</h2>-->
                    <!--<p class="job">-->
                      <!--Typhography Magister-->
                    <!--</p>-->
                    <!--<p class="company">-->
                      <!--Florida University-->
                    <!--</p>-->
                    <!--<hr>-->
                    <!--<div class="text-detail">-->
                      <!--<p>-->
                        <!--Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes.-->
                      <!--</p>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</li>-->
          <!--</ul>-->

        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
<!--&lt;!&ndash;/.EDUCATION END&ndash;&gt;-->

<!--TESTIMONIAL-->
<section id="testimonial">
  <div class="container">
    <div class="row wrap-testimonial">
      <div class="col-md-10 col-md-offset-1">
        <div class="owl-carousel">
          <div class="list-testimonial">
            <div class="content-testimonial">
              <h3 class="testi">
                “Edwina’s expertise in the areas of Healthcare audit and quality assurance are unique and will be sorely missed within the Public Service”  </h3>
              <p class="people">
                Tony O Brien - Director General HSE, D.G. Ref: 425015.
              </p>
            </div>
          </div>
          <div class="list-testimonial">
            <div class="content-testimonial">
              <h3 class="testi">
                “Edwina’s professionalism, dedication and helpful approach was evident to the members of the Risk Committee and demonstrated a true spirt of service and a desire to achieve excellence in service provision”</h3>
              <p class="people">
                Tom Beegan -  Chairman - HSE  - Risk Committee
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mask-testimonial"></div>
</section>
<!--/.TESTMONIAL END-->

<!--&lt;!&ndash;BLOG&ndash;&gt;-->
<!--<section class="grey-bg" id="blog">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-12">-->
        <!--<h3 class="title-small-center text-center">-->
          <!--<span>Blog</span>-->
        <!--</h3>-->
        <!--<div class="row">-->
          <!--<div class="col-md-6 col-md-offset-3">-->
            <!--<p class="content-details text-center">-->
              <!--Lorem ipsum dolor sit amet consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.-->
            <!--</p>-->
          <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;GRID BLOG&ndash;&gt;-->
        <!--<div class="grid">-->
          <!--<div class="grid-item">-->
            <!--<div class="wrap-article">-->
              <!--<img alt="blog-1" class="img-circle text-center" src="../../../assets/theme-images/blog-1.png">-->
              <!--<p class="subtitle fancy">-->
                <!--<span>09/01/2015</span>-->
              <!--</p>-->
              <!--<a href="#">-->
                <!--<h3 class="title">-->
                  <!--Popular Design in 2015-->
                <!--</h3>-->
              <!--</a>-->
              <!--<p class="content-blog">-->
                <!--Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="grid-item">-->
            <!--<div class="wrap-article">-->
              <!--<img alt="blog-4" class="img-circle text-center" src="../../../assets/theme-images/blog-4.jpg">-->
              <!--<p class="subtitle fancy">-->
                <!--<span>08/20/2015</span>-->
              <!--</p>-->
              <!--<a href="#">-->
                <!--<h3 class="title">-->
                  <!--Just Start-->
                <!--</h3>-->
              <!--</a>-->
              <!--<p class="content-blog">-->
                <!--Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="grid-item">-->
            <!--<div class="wrap-article">-->
              <!--<img alt="blog6" class="img-circle text-center" src="../../../assets/theme-images/blog-6.jpg">-->
              <!--<p class="subtitle fancy">-->
                <!--<span>08/11/2015</span>-->
              <!--</p>-->
              <!--<a href="#">-->
                <!--<h3 class="title">-->
                  <!--The Huffington Post-->
                <!--</h3>-->
              <!--</a>-->
              <!--<p class="content-blog">-->
                <!--Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="grid-item">-->
            <!--<div class="wrap-article">-->
              <!--<img alt="blog2" class="img-circle text-center" src="../../../assets/theme-images/blog-2.jpg">-->
              <!--<p class="subtitle fancy">-->
                <!--<span>08/03/2015</span>-->
              <!--</p>-->
              <!--<a href="#">-->
                <!--<h3 class="title">-->
                  <!--Manuk!-->
                <!--</h3>-->
              <!--</a>-->
              <!--<p class="content-blog">-->
                <!--Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="grid-item">-->
            <!--<div class="wrap-article">-->
              <!--<img alt="blog5" class="img-circle text-center" src="../../../assets/theme-images/blog-5.jpg">-->
              <!--<p class="subtitle fancy">-->
                <!--<span>07/26/2015</span>-->
              <!--</p>-->
              <!--<a href="#">-->
                <!--<h3 class="title">-->
                  <!--Do Web Designer Really Need To Know UI/UX Design and Backend Code too?-->
                <!--</h3>-->
              <!--</a>-->
              <!--<p class="content-blog">-->
                <!--Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="grid-item">-->
            <!--<div class="wrap-article">-->
              <!--<img alt="blog-3" class="img-circle text-center" src="../../../assets/theme-images/blog-3.jpg">-->
              <!--<p class="subtitle fancy">-->
                <!--<span>08/03/2015</span>-->
              <!--</p>-->
              <!--<a href="#">-->
                <!--<h3 class="title">-->
                  <!--Somewhere Place-->
                <!--</h3>-->
              <!--</a>-->
              <!--<p class="content-blog">-->
                <!--Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->

        <!--</div>-->
        <!--&lt;!&ndash;/.GRID BLOG END&ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
<!--&lt;!&ndash;/.BLOG END&ndash;&gt;-->

<!--CONTACT-->
<section id="contact" class="white-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3 class="title-small">
          <span>Contact</span>
        </h3>
        <p class="content-detail">For all inquires, please contact <a href="contact@edwinadunne.co">contact@edwinadunne.com</a>, or submit a message though the form supplied.</p>

      </div>
      <div class="col-md-9 content-right">
        <form>
          <div class="group">
            <input required="" type="text"><span class="highlight"></span><span class="bar"></span><label>Name</label>
          </div>
          <div class="group">
            <input required="" type="email"><span class="highlight"></span><span class="bar"></span><label>Email</label>
          </div>
          <div class="group">
            <textarea required=""></textarea><span class="highlight"></span><span class="bar"></span><label>Message</label>
          </div>
          <input id="sendMessage" name="sendMessage" type="submit" value="Send Message">
        </form>
      </div>
    </div>
  </div>
</section>
<!--/.CONTACT END-->


<!--&lt;!&ndash;/.CONTENT END&ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash;/.CONTENT-WRAP END&ndash;&gt;-->
<!--</div>-->
