
    <!--HOME-->
    <section id="home">
      <div class="container">
        <div class="row">
          <div class="wrap-hero-content">
            <div class="hero-content">
              <div class="jumbo-logo-icon"><img src="../../../assets/images/Logo-Icon.png"></div>
              <h1>Dr. Edwina Dunne, DBA</h1>
              <h3>Empowering Consultant</h3>
              <br>
              <span class="typed"></span>
            </div>
          </div>
          <div class="mouse-icon margin-20">
            <div class="scroll"></div>
          </div>
        </div>
      </div>
    </section>
    <!--/.HOME END-->

    <!--ABOUT-->
    <section id="about">
      <div class="col-md-6 col-xs-12 no-pad">
        <div class="bg-about"></div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 white-col">
        <div class="row">
          <!--OWL CAROUSEL2-->
          <div class="owl-carousel2">
            <div class="col-md-12">
              <div class="wrap-about">
                <div class="w-content">
                  <h1>About Me</h1>
                  <p class="head-about">
                    Edwina has over 35 years national and international experience in health and social care
                    services, across the public and private sectors. Edwina is driven by her passion to enable people to
                    deliver quality services. Edwina has considerable deep experience, knowledge,
                    commitment and reputation as a practitioner, educationalist and manager across corporate,
                    clinical and social services. She has worked in large and small organisations, HSE, NHS,
                    Canadian Hospitals and nursing homes.
                  </p>

                  <h5 class="name">
                    Dr. Edwina Dunne, DBA
                  </h5>
                  <!--<img alt="signature" src="../../../assets/theme-images/signature.png">-->
                </div>
              </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 white-col">
              <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
                  <div class="wrap-about">
                    <table class="w-content">
                      <tr>
                        <td class="title">Name </td>
                        <td class="break">:</td>
                        <td>Dr. Edwina Dunne, DBA</td>
                      </tr>
                      <tr>
                        <td class="title">Phone </td>
                        <td class="break">:</td>
                        <td> +62 8678 999 012</td>
                      </tr>
                      <tr>
                        <td class="title">Email </td>
                        <td class="break">:</td>
                        <td>contact@edwinadunne.com</td>
                      </tr>
                      <!--<tr>-->
                        <!--<td class="title">Address </td>-->
                        <!--<td class="break">:</td>-->
                        <!--<td> Cipamokolan street 102 , Bandung, Indonesia</td>-->
                      <!--</tr>-->
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--/.OWL CAROUSEL2 END-->
        </div>
      </div>
    </section>
    <!--/.ABOUT END-->



<!--SERVICES-->
<section class="grey-bg" id="services">
  <div class="container">
    <div class="row">


      <div class="services-areas-title-section col-md-12 text-centered">
        <h1 class="services-title-text">
          Services
        </h1>
      </div>

      <div class="services-areas-intro-text col-md-12 text-centered">
        <span>"Have comprehensive governance arranges in place which include timely and responsive quality assurance processes to assure themselves of the quality and safety of the service they are registered to provide"</span>
        <span>(HIQA 2017, Regulation of Health and Social Care Services, New Enhanced Authority Monitoring Approach..Effective January 2018)</span>
      </div>

      <!--<div class="services-areas-list-box">-->
        <!--<div class="services-areas-list-box-title-holder">-->
          <!--<span class="services-areas-list-box-title">Service Areas</span>-->
        <!--</div>-->

        <!--<div class="service-areas-list-text">-->
          <!--<span></span>-->
          <!--<span></span>-->
          <!--<span></span>-->
          <!--<span></span>-->
          <!--<span></span>-->
        <!--</div>-->
      <!--</div>-->


      <!--Price Account Box - Executive -->
      <div class="price-account-box">
        <div class="price-account-box-top-line">
        </div>
        <div class="price-account-box-title">Areas</div>
        <!--<div class="price-account-box-cost-section">-->
          <!--<span class="price-text">$2,000</span>-->
          <!--<span class="price-description">per month billed annually</span>-->
        <!--</div>-->
        <div class="price-account-box-features-list-box">
          <!--<span class="price-account-box-features-list-title">Limited access to features and content including:</span>-->
          <div class="price-account-box-features-list">
            <span class="inline-flex"><i class="fa fa-check price-account-box-features-list-tick" aria-hidden="true"></i><span>Seeking registration</span></span>
            <span class="inline-flex"><i class="fa fa-check price-account-box-features-list-tick" aria-hidden="true"></i><span>Re-registration with HIQA</span></span>
            <span class="inline-flex"><i class="fa fa-check price-account-box-features-list-tick" aria-hidden="true"></i><span>Seeking a quality accreditation for your organisation</span></span>
            <span class="inline-flex"><i class="fa fa-check price-account-box-features-list-tick" aria-hidden="true"></i><span>Assurance and Audit reports</span></span>
            <span class="inline-flex"><i class="fa fa-check price-account-box-features-list-tick" aria-hidden="true"></i><span>Implementing standards and policies</span></span>
            <span class="inline-flex"><i class="fa fa-check price-account-box-features-list-tick" aria-hidden="true"></i><span>Enabling good practice</span></span>
            <span class="inline-flex"><i class="fa fa-check price-account-box-features-list-tick" aria-hidden="true"></i><span>Enabling - Good Governance</span></span>
            <span class="inline-flex"><i class="fa fa-check price-account-box-features-list-tick" aria-hidden="true"></i><span>Assurance and Audit reports</span></span>

          </div>
        </div>
        <div class="price-account-box-features-button-section">
          <button class="btn price-account-box-features-button">Get Started</button>
        </div>
      </div>
      <!--End of Price Account Box-->



    </div>
  </div>
</section>
<!--/.SERVICES END-->


    <!-- Section: services -->
    <section id="service" class="home-section color-dark white-bg">
      <div class="container marginbot-50">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div>
              <div class="section-heading text-center">
                <h1 class="h-bold">What we can do for you</h1>
                <div class="divider-header"></div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="text-center">
        <div class="container">

          <div class="row animatedParent">
            <div class="col-md-6 service-box-holder">
              <div class="animated rotateInDownLeft">
                <div class="service-box">
                  <div class="service-icon">
                    <span class="fa fa-laptop fa-2x"></span>
                  </div>
                  <div class="service-desc">
                    <h5>Corporate & Clinical Governance</h5>
                    <div class="divider-header"></div>
                    <div class="service-description-list">
                    <ol>
                      <li>Working with management to clarify the governance framework defining the team and individual responsibilities within an assurance framework</li>
                      <li>Clarifying the accountability framework for authority, responsibilities and performance management</li>
                      <li>Assisting management to have the policies and procedures in place to ensure quality and safety of residents and staff</li>
                      <li>Undertaking external audits to achieve yearly and bi-annually Quality Review Reports</li>
                    </ol>
                    </div>
                    <a href="#" class="btn btn-skin">Learn more</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 service-box-holder">
              <div class="animated rotateInDownLeft slow">
                <div class="service-box">
                  <div class="service-icon">
                    <span class="fa fa-camera fa-2x"></span>
                  </div>
                  <div class="service-desc">
                    <h5>Compliance Quality Audit</h5>
                    <div class="divider-header"></div>
                    <div class="service-description-list">
                      <ol>
                        <li>Develop audit tools, for use by line managers to test the level of compliance with standards, policies and procedures</li>
                        <li>Build capacity and competency in auditing</li>
                        <li>Building capacity in developing evidence and working towards identifying that evidence</li>
                        <li>Advising and assisting methods/processes to gain assurance on the status of compliance with standards and all measureable elements in advance of inspections and survey required</li>
                      </ol>
                    </div>
                    <a href="#" class="btn btn-skin">Learn more</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 service-box-holder">
              <div class="animated rotateInDownLeft slower">
                <div class="service-box">
                  <div class="service-icon">
                    <span class="fa fa-code fa-2x"></span>
                  </div>
                  <div class="service-desc">
                    <h5>Clinical General Practice Improvement</h5>
                    <div class="divider-header"></div>
                    <div class="service-description-list">
                      <ol>
                        <li>Advising on  KPI’s, analysing of data and how to show sustained improvement</li>
                        <li>Promote a positive culture for safety at all levels</li>
                        <li>Advising on  KPI’s, analysing of data and how to show sustained improvement</li>
                        <li>Work across all clinical and managerial groupings to motivate engagement with change initiatives</li>
                      </ol>
                    </div>
                    <a href="#" class="btn btn-skin">Learn more</a>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-md-6 service-box-holder">
              <div class="animated rotateInDownLeft">
                <div class="service-box">
                  <div class="service-icon">
                    <span class="fa fa-laptop fa-2x"></span>
                  </div>
                  <div class="service-desc">
                    <h5>Translating policy/ standards into practice</h5>
                    <div class="divider-header"></div>
                    <div class="service-description-list">
                      <ol>
                        <li>Working with individuals and teams in translating and simplifying Quality Standards and Regulations, Policies and Procedures</li>
                        <li>Working with individuals and teams to diagnose the issues, define and refine the solutions, and to breakdown the complex, (“Wicked Problems” into workable steps)</li>
                        <li>Creating a favourable ‘voice climate’ across all staff groupings to generate the knowledge to inform the change (Action research Subject of Doctorate)</li>
                        <li>Assisting staff to understand and identify the impediments to progress, proposing and generating solutions with staff and assisting in the remedial actions</li>
                      </ol>
                    </div>
                    <a href="#" class="btn btn-skin">Learn more</a>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </section>
    <!-- /Section: services -->
<!--/.EMPLOYEMENT END-->



<!--TESTIMONIAL-->
<section id="testimonial">
  <div class="container">
    <div class="row wrap-testimonial">
      <div class="col-md-10 col-md-offset-1">
        <div class="owl-carousel">
          <div class="list-testimonial">
            <div class="content-testimonial">
              <h3 class="testi">
                “Edwina’s expertise in the areas of Healthcare audit and quality assurance are unique and will be sorely missed within the Public Service”  </h3>
              <p class="people">
                Tony O Brien - Director General HSE, D.G. Ref: 425015.
              </p>
            </div>
          </div>
          <div class="list-testimonial">
            <div class="content-testimonial">
              <h3 class="testi">
                “Edwina’s professionalism, dedication and helpful approach was evident to the members of the Risk Committee and demonstrated a true spirt of service and a desire to achieve excellence in service provision”</h3>
              <p class="people">
                Tom Beegan -  Chairman - HSE  - Risk Committee
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mask-testimonial"></div>
</section>
<!--/.TESTMONIAL END-->

<!--&lt;!&ndash;BLOG&ndash;&gt;-->
<!--<section class="grey-bg" id="blog">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-12">-->
        <!--<h3 class="title-small-center text-center">-->
          <!--<span>Blog</span>-->
        <!--</h3>-->
        <!--<div class="row">-->
          <!--<div class="col-md-6 col-md-offset-3">-->
            <!--<p class="content-details text-center">-->
              <!--Lorem ipsum dolor sit amet consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.-->
            <!--</p>-->
          <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;GRID BLOG&ndash;&gt;-->
        <!--<div class="grid">-->
          <!--<div class="grid-item">-->
            <!--<div class="wrap-article">-->
              <!--<img alt="blog-1" class="img-circle text-center" src="../../../assets/theme-images/blog-1.png">-->
              <!--<p class="subtitle fancy">-->
                <!--<span>09/01/2015</span>-->
              <!--</p>-->
              <!--<a href="#">-->
                <!--<h3 class="title">-->
                  <!--Popular Design in 2015-->
                <!--</h3>-->
              <!--</a>-->
              <!--<p class="content-blog">-->
                <!--Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="grid-item">-->
            <!--<div class="wrap-article">-->
              <!--<img alt="blog-4" class="img-circle text-center" src="../../../assets/theme-images/blog-4.jpg">-->
              <!--<p class="subtitle fancy">-->
                <!--<span>08/20/2015</span>-->
              <!--</p>-->
              <!--<a href="#">-->
                <!--<h3 class="title">-->
                  <!--Just Start-->
                <!--</h3>-->
              <!--</a>-->
              <!--<p class="content-blog">-->
                <!--Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="grid-item">-->
            <!--<div class="wrap-article">-->
              <!--<img alt="blog6" class="img-circle text-center" src="../../../assets/theme-images/blog-6.jpg">-->
              <!--<p class="subtitle fancy">-->
                <!--<span>08/11/2015</span>-->
              <!--</p>-->
              <!--<a href="#">-->
                <!--<h3 class="title">-->
                  <!--The Huffington Post-->
                <!--</h3>-->
              <!--</a>-->
              <!--<p class="content-blog">-->
                <!--Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="grid-item">-->
            <!--<div class="wrap-article">-->
              <!--<img alt="blog2" class="img-circle text-center" src="../../../assets/theme-images/blog-2.jpg">-->
              <!--<p class="subtitle fancy">-->
                <!--<span>08/03/2015</span>-->
              <!--</p>-->
              <!--<a href="#">-->
                <!--<h3 class="title">-->
                  <!--Manuk!-->
                <!--</h3>-->
              <!--</a>-->
              <!--<p class="content-blog">-->
                <!--Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="grid-item">-->
            <!--<div class="wrap-article">-->
              <!--<img alt="blog5" class="img-circle text-center" src="../../../assets/theme-images/blog-5.jpg">-->
              <!--<p class="subtitle fancy">-->
                <!--<span>07/26/2015</span>-->
              <!--</p>-->
              <!--<a href="#">-->
                <!--<h3 class="title">-->
                  <!--Do Web Designer Really Need To Know UI/UX Design and Backend Code too?-->
                <!--</h3>-->
              <!--</a>-->
              <!--<p class="content-blog">-->
                <!--Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="grid-item">-->
            <!--<div class="wrap-article">-->
              <!--<img alt="blog-3" class="img-circle text-center" src="../../../assets/theme-images/blog-3.jpg">-->
              <!--<p class="subtitle fancy">-->
                <!--<span>08/03/2015</span>-->
              <!--</p>-->
              <!--<a href="#">-->
                <!--<h3 class="title">-->
                  <!--Somewhere Place-->
                <!--</h3>-->
              <!--</a>-->
              <!--<p class="content-blog">-->
                <!--Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->

        <!--</div>-->
        <!--&lt;!&ndash;/.GRID BLOG END&ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
<!--&lt;!&ndash;/.BLOG END&ndash;&gt;-->

<!--CONTACT-->
<section id="contact" class="white-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="title-small contact-section-title">
          <span>Contact</span>
        </h3>
        <p class="content-detail">For all inquires, please contact <a href="contact@edwinadunne.com">contact@edwinadunne.com</a>, <br> or click below to get in contact.</p>

      </div>
      <!--<div class="col-md-9 content-right">-->
        <div class="col-md-12 contact-button-row">
          <button class="btn-success btn contact-button" href="contact@edwinadunne.com">Get in Contact</button>
        <!--<form>-->
          <!--<div class="group">-->
            <!--<input required="" type="text"><span class="highlight"></span><span class="bar"></span><label>Name</label>-->
          <!--</div>-->
          <!--<div class="group">-->
            <!--<input required="" type="email"><span class="highlight"></span><span class="bar"></span><label>Email</label>-->
          <!--</div>-->
          <!--<div class="group">-->
            <!--<textarea required=""></textarea><span class="highlight"></span><span class="bar"></span><label>Message</label>-->
          <!--</div>-->
          <!--<input id="sendMessage" name="sendMessage" type="submit" value="Send Message">-->
        <!--</form>-->
      </div>
    </div>
  </div>
</section>
<!--/.CONTACT END-->


<!--&lt;!&ndash;/.CONTENT END&ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash;/.CONTENT-WRAP END&ndash;&gt;-->
<!--</div>-->
