.service-box-holder {
  height: 400px;
}


.services-areas-intro-text {
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 0.5px;
  font-weight: 300;
  display: grid;
}

.jumbo-logo-icon {
  height: 80px;
  width: 80px;
  text-align: center;
  margin: auto;
}

.services-areas-list-box {
  background-color: white;
  width: 220px;
  height:430px;
  margin: auto;
  border: 1px solid #9B9B9B;
  border-radius: 5px;
  margin-top: 50px;
}

.services-areas-list-box-title-holder {
  border-bottom: 1px solid;
  text-align: center;
}

.services-areas-list-box-title {
  font-size: 20px;
}


.price-account-box {
  background-color: white;
  width: 320px;
  height: 430px;
  margin: auto;
  border: 1px solid #9B9B9B;
  border-radius: 5px;
  margin-top: 50px;
  color: #555;
  font-family: 'Open Sans', sans-serif;
}

.pricing-most-popular-icon {
  position: relative;
  background: linear-gradient(180deg, #FAD961 0%, #F76B1C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  float: right;
  top: -9px;
  right: 9px;
  font-size: 35px;
}

.price-account-box-top-line {
  height: 6px;
  background-color: #22D096;
}

.price-account-box-title {
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  text-align: center;
  padding-top: 7px;
  border-bottom: 1px solid grey;
}

.price-account-box-cost-section {
  display: flex;
  font-family: 'Oxygen', sans-serif;
  padding: 25px;
  border-top: 1px solid #9B9B9B;
  border-bottom: 1px solid #9B9B9B;
}

.price-account-box-cost-section .price-text {
  font-size: 20px;
  padding-right: 10px;

}

.price-account-box-cost-section .price-description {
  font-size: 10px;
}

.price-account-box-features-list-box {
  text-align: center;
}

.price-account-box-features-list-title {
  font-size: 10px;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.price-account-box-features-list {
  font-size: 14px;
  text-align: left;
  padding: 20px;
  line-height: 20px;
}

.price-account-box-features-list-tick {
  color: #22D096;
  padding-right: 5px;
}

.price-account-box-features-button-section {
  text-align: center;
  padding-top: 20px;
}

.price-account-box-features-button {
  width: 96px;
  height: 28px;
  background-color: #22D096;
  color: white;
  padding: 2px;
  font-size: 12px;
}

#contact {
  padding: 60px 0 80px 0;
}

.content-detail {
  text-align: center;
  margin-top: 50px;
}

.contact-section-title {
  text-align: center;
}

.contact-button-row {
  text-align: center;
  margin-top: 20px;
}

.contact-button {
  color: #fff;
  background-color: #3dc9b3;
  border-color: #3dc9b3;
  height: 40px;
  width: 130px;
  font-size: 14px;
}

.footer-logo-holder {
  text-align: center;
  margin-top: 50px;
  margin-bottom: -50px;
}



/*Testimonial Section*/

.testimonial-box {
  width: 400px;
  height: 220px;
  margin: auto;
  border: 1px solid #9b9b9b;
  border-radius: 5px;
  margin-top: 50px;
  color: #555;
  font-family: Open Sans, sans-serif;
  position: relative;
}

.testimonial-box-text-box {
  position: absolute;
  top: 0;
  text-align: center;
}

.testimonial-box-row {
  display: flex;
  flex-wrap: wrap;
}

.testimonial-box-top-line {
  height: 6px;
  background-color: #ffce00;
}

.testimonial-box-text-logo-holder {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  border-top: 1px solid grey;
  max-height: 100px;
  height: 100px;
}

.testimonial-box-text-logo {
  padding: 5px;
}

.testimonial-box-text-logo-image {
  border-radius: 50%;
  border: 1px solid grey;
  width: 85px;
}

.margin-0 {
  margin: 0;
}

.testimonial-box-text-quote {
  padding: 15px;
}

.testimonial-box-text-author {
  padding: 15px;
}


.line-height-20 {
  line-height: 20px;
}
