<!--<nav class="navbar navbar-expand-md navbar-dark bg-dark">-->
<!--<a href="/" class="navbar-brand">Dr. Edwina Dunne</a>-->
<!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar7">-->
<!--<span class="navbar-toggler-icon"></span>-->
<!--</button>-->
<!--<div class="navbar-collapse collapse justify-content-stretch" id="navbar7">-->
<!--<ul class="navbar-nav ml-auto">-->
<!--<li class="nav-item">-->
<!--<a class="nav-link" href="#">About</a>-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--<a class="nav-link" href="#">Services</a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</nav>-->


<!--HEADER -->
<div class="header">
  <div class="for-sticky">
    <!--LOGO-->
    <div class="col-md-2 col-xs-6 logo">
      <a href="index.html"><img alt="logo" class="logo-nav" src="../../assets/images/temp-logo.png"></a>
    </div>
    <!--/.LOGO END-->
  </div>
  <div class="menu-wrap">
    <nav class="menu">
      <div class="menu-list">
        <a data-scroll="" href="#home" class="active">
          <span>Home</span>
        </a>
        <a data-scroll="" href="#about">
          <span>About</span>
        </a>
        <a data-scroll="" href="#work">
          <span>Work</span>
        </a>
        <a data-scroll="" href="#services">
          <span>Services</span>
        </a>
        <a data-scroll="" href="#employement">
          <span>Employement</span>
        </a>
        <a data-scroll="" href="#skill">
          <span>Skills</span>
        </a>
        <a data-scroll="" href="#education">
          <span>Education</span>
        </a>
        <a data-scroll="" href="#testimonial">
          <span>Testimonial</span>
        </a>
        <a data-scroll="" href="#blog">
          <span>Blog</span>
        </a>
        <a data-scroll="" href="#contact">
          <span>Contact</span>
        </a>
      </div>
    </nav>
    <button class="close-button" id="close-button">Close Menu</button>
  </div>
  <button class="menu-button" id="open-button">
    <span></span>
    <span></span>
    <span></span>
  </button><!--/.for-sticky-->
</div>
<!--/.HEADER END-->
